<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Forgot Password</title>
	<link rel="stylesheet" href="/css/auth.css">
	<!-- include libraries.ejs -->
    <%- include('../partials/libraries.ejs') %>

	<link rel="icon" href="/images/logo.jpg" type="image/x-icon" />
</head>
<% if(message){ %>
	<div style="text-align: center" class="alert alert-<%=message.type%>">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><%=message.intro%></strong> <%=message.message%>
	</div>
<% } %>
<body class="my-login-page">
	
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center align-items-center h-100">
				<div class="card-wrapper">
					<!-- <div class="brand">
						<img src="images/logo.jpg" alt="bootstrap 4 login page">
					</div> -->
					<div class="card fat" style="margin-top: -50%" >
						<div class="card-body">
							<h4 class="card-title">Forgot Password</h4>
							<form method="POST" class="validation" novalidate="">
								<div class="form-group">
									<label for="email">username</label>
									<input id="email" type="email" class="form-control" name="username" placeholder="enter your registered email address" required autofocus>
									<div class="form-text text-muted">
										New password  will be send to your email.
									</div>
									
								</div>
								
								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Submit
									</button>
								</div>
								<div class="mt-4 text-center">
									Login Here <a href="/login">login</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="js/auth.js"></script>
</body>
</html>