<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Kodinger" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Reset Password</title>
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/auth.css" />
  </head>
  <!-- flash message -->
  <%if(resetMessage!=null&&resetMessage.length>0){%>
  <div style="text-align: center" class="alert alert-<%=type%>">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%=resetMessage%>
  </div>
  <%}%>
  <body class="my-login-page">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <!-- <div class="brand">
						<img src="images/logo.jpg" alt="bootstrap 4 login page">
					</div> -->
            <div class="card fat" style="margin-top: 30%">
              <div class="card-body">
                <h4 class="card-title">Reset Password</h4>
                <form method="POST" class="validation" novalidate="">
                  <div class="form-group">
                    <label for="old-password">Old password</label>
                    <input
                      id="old-password"
                      type="password"
                      class="form-control"
                      name="oldPassword"
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">Password is required</div>
                  </div>
                  <div class="form-group">
                    <label for="new-password">New Password</label>
                    <input
                      id="new-password"
                      type="password"
                      class="form-control"
                      name="newPassword"
                      required
                      autofocus
                      data-eye
                    />
                    <div class="invalid-feedback">Password is required</div>
                    <div class="form-text text-muted">
                      Make sure your password is strong and easy to remember
                    </div>
                  </div>

                  <div class="form-group m-0">
                    <button type="submit" class="btn btn-primary btn-block">
                      Reset Password
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="footer">
						Copyright &copy; 2017 &mdash; Your Company 
					</div> -->
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="js/auth.js"></script>
  </body>
</html>
