<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Bootstrap CDN -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <!-- custom css -->
     <link rel="stylesheet" href="/css/styles.css">
    <title>cancelTask</title>
</head>
<body>
    <div class="scheduler">
        <h1>Delete Task</h1>
        <form action="" method="POST">
            <div class="form-group">
              <label for="taskId">TaskId</label>
              <input type="text" class="form-control" name="taskId"  placeholder="Enter Task Id">
            </div>
            <button type="submit" class="btn btn-primary button">Delete Task</button>
          </form>
    </div>
</body>
</html>