<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon" />

    <!-- including cdn of libraries -->
    <%- include('partials/libraries.ejs'); %>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/styles.css" />
    <title>cancel Task</title>
  </head>
  <body>
    <% if(message){ %>
    <div style="text-align: center" class="alert alert-<%=message.type%>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%=message.intro%></strong> <%=message.message%>
    </div>
    <% } %>
    <div class="wrapper">
      <h1 class="display-3 heading">Delete Task</h1>
      <form action="" method="POST">
        <div class="form-group">
          <label for="taskId">TaskId</label>
          <input
            type="text"
            class="form-control"
            name="taskId"
            placeholder="Enter Task Id"
          />
        </div>
        <button type="submit" class="btn btn-primary button">
          Delete Task
        </button>
      </form>
    </div>
    <script></script>
  </body>
</html>
