/* need to make it responsive (add media queries)*/

.scheduler{
    margin-top:5%;
    margin-left: 20%;
    margin-right: 20%;
}

h1{
    font-family: Georgia, sans-serif;
    font-size: 5em;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 60px;
}

.button{
    display:block;
    margin:0 auto;
    margin-top:40px;
}

.disabled
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}