
/* background image */
.backgroundImage{
    background-image: url(https://c0.wallpaperflare.com/preview/917/466/412/clock-time-time-management-time-of.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: 50% 50%;
    
}
.wrapper{
    margin-top:5%;
    margin-left: 20%;
    margin-right: 20%;
    height: fit-content;
}

.heading{
    font-family: Georgia, sans-serif;
    color: #930077;
    text-align: center;
    margin-bottom: 60px;
}

label{
    font-family: Georgia, sans-serif;
    font-weight: bold;
}

.button{
    display:block;
    margin:0 auto;
    margin-top:40px;
    margin-bottom: 30px;
}


/* beginning table styles */

.styled-table {
    overflow-y: auto;
    overflow-x: auto;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.styled-table thead tr {
    
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table th{
    position: sticky;
    /* top: 55px; */
    background-color: #009879;
    color: #ffffff;
}
/* end of table styles */


.tableContainer{
    height:400px;
    overflow-y:auto;
    overflow-x: auto;
    /* margin-left:5%;
    margin-right: 5%; */
}


/* Task details css */

.taskDetailsWrapper{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    /* margin-left:0; */
}

.taskDetail{
    overflow: auto;
}

.parameters{
    overflow: auto;
    height: 80px;
}

.taskDetailsWrapper .dropdown-submenu {
    position: relative;
  }
  
.taskDetailsWrapper .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
  
.taskDetailsWrapper .parametersMenuAlign{
    text-align: center;
}
  
.taskDetailsWrapper .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
  
.taskDetailsWrapper .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
  
.taskDetailsWrapper .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
   
}
  
.taskDetailsWrapper .dropdown-submenu.pull-left {
    float: none;
}

.taskDetailsWrapper .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
  

/* end of display task details css */

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
/* @media only screen and (min-width:320px) and (max-width:480px) 
{
    .taskDetailsWrapper .parametersMenuAlign{
        text-align: left;
    }

    .taskDetail{
        overflow: auto;
        width:5px;
    }

    .parameters{
        overflow: auto;
        width: 5px;
        height: 50px;
    }
} */

@media (max-width:600px) {
    
    .heading{
        text-align: left;
        font-size: 1.6rem;
        font-weight: bold;
        margin-top:50px;
        margin-bottom: 30px;
        margin-left:15px;
    }

    .tableContainer{
        height:350px;
        width: 100%;
        overflow-y:auto;
        overflow-x: auto;
        
    }
    .taskDetailsWrapper{
        margin:20px;
        padding:15px;
        /* overflow: auto; */
        border-radius: 5px;
        /* margin-left:0; */
    }

    .taskDetailsWrapper .parametersMenuAlign{
        text-align: left;
    }

    .taskDetail{
        overflow: auto;
        width:30px;
    }

    .parameters{
        overflow: auto;
        width: 30px;
        height: 50px;
    }
    
}

