/* need to make it responsive (add media queries)*/
/* body{
    background-color: #f5f5f5;
    
} */

/* background image */
.backgroundImage{
    background-image: url(https://c0.wallpaperflare.com/preview/917/466/412/clock-time-time-management-time-of.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: 50% 50%;
}
.wrapper{
    margin-top:5%;
    margin-left: 20%;
    margin-right: 20%;
    height: fit-content;
}

.heading{
    font-family: Georgia, sans-serif;
    color: #930077;
    text-align: center;
    margin-bottom: 60px;
}

label{
    font-family: Georgia, sans-serif;
    font-weight: bold;
}

.button{
    display:block;
    margin:0 auto;
    margin-top:40px;
}

.disabled
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

/* beginning table styles */

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* end of table styles */


.retrievedTasks{
    height:300px;
    overflow-y:auto;
    overflow-x: auto;
    margin-left:40%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 600px) {
    
    .heading{
        text-align: left;
        font-size: 1.8rem;
        font-weight: bold;
        margin-top:50px;
        margin-bottom: 30px;
    }

    .retrievedTasks{
        height:200px;
        overflow-y:auto;
        overflow-x: auto;
        margin-left:20%;
    }
}