<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/logo.jpg" type="image/x-icon" />

  <!-- include libraries.ejs -->
  <%- include('../partials/libraries.ejs') %>
  <!-- custom css -->
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Retrieve Orchestrations</title>

</head>

<body>
  <%- include('../partials/navbar.ejs'); %>
  <div class="wrapper">
    <h1 class="display-3 heading">Retrieve Orchestrations</h1>
    <form action="" method="POST" id="retrieveTasks">

      <div class="form-group">
        <label for="option">Select Task Instance</label>
        <input type="text" class="form-control" name="taskInstance" list="states" placeholder="e.g. completed" required>
        <datalist id="states">
            <option value="All">
            <option value="firstTaskRunning">
            <option value="firstTaskSuccess">
            <option value="firstTaskFailed">
            <option value="conditionCheckTaskRunning">
            <option value="conditionCheckTaskSuccess">
            <option value="conditionCheckTaskFailed">
            <option value="secondTaskRunning">
            <option value="secondTaskSuccess">
            <option value="secondTaskFailed">
            <option value="fallbackTaskRunning">
            <option value="fallbackTaskSuccess">
            <option value="fallbackTaskFailed">
            <option value="cancelled">
        </datalist>
      </div>
      <button type="submit" class="btn btn-info button">
        Retrieve
      </button>
    </form>
  </div>

  <%if(taskInstance!=""){%>
      <%if(results.length==0){%>
        <%if(taskInstance!="All"){%>
          <h1 class="retrieveTaskText">There are no Orchestrations in <%=taskInstance%> state.</h1>
        <%}else{%>
          <h1 class="retrieveTaskText">There are no Orchestrations scheduled.</h1>
        <%}%>
      <%}%>
      <div class="tableContainer">
        <%- include('../partials/orchestrationDetails.ejs'); %>
      </div>
  <%}%>
</div>
<script>
  $("#retrieveTasks").validate();
</script>
</body>

</html>