<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.jpg" type="image/x-icon"/>

    <!-- include libraries.ejs -->
    <%- include('../partials/libraries.ejs') %>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Retrieve All Tasks</title>
</head>

<body>
    <%- include('../partials/navbar.ejs'); %>
    <h1 style="text-align: center; color:brown;padding-top:30px;">Task Details</h1>
    <%if(results.length==0){%>
        <h1 style="text-align: center; margin: 40px;">You have not scheduled any task.</h1>
    <%}%>
    
    <%- include('../partials/taskDetails.ejs'); %>

    
</body>

</html>